<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Кіру</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="form-container">
    <h2>Кіру</h2>
    <form action="/Login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Құпия сөз:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Кіру</button>
        <p>Тіркелу қажет пе? <a href="/Register">Тіркелу</a></p>
    </form>
</div>
</body>
</html>
