<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="profile-container">
    <h2>Қош келдіңіз, <span th:text="${user.username}"></span>!</h2>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Рөлі: <span th:text="${user.role}"></span></p>

    <!-- Артқа қайту батырмасы -->
    <a href="/Home" class="btn back">Артқа</a>

    <!-- Шығу батырмасы -->
    <a href="/Logout" class="btn logout">Шығу</a>
</div>
</body>
</html>
